# Python Environment
.venv/
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django specific
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/